### Feature Selection- Dopping Constant Feature

In this step we will be removing the features which have constant features which are actually not important for solving the problem statement

In [1]:
import pandas as pd

In [2]:
# Make DataFrame of the given data 
data = pd.DataFrame({"A":[1,2,4,1,2,4], 
                    "B":[4,5,6,7,8,9], 
                    "C":[0,0,0,0,0,0],
                    "D":[1,1,1,1,1,1]})

In [4]:
data.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

#### Variance Threshold
Feature selector that removes all low-variance features.

This feature selection algorithm looks only at the features (X), not the desired outputs (y), and can thus be used for unsupervised learning.

In [5]:
### It will zero variance features
from sklearn.feature_selection import VarianceThreshold
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [6]:
var_thres.get_support()

array([ True,  True, False, False])

In [7]:

data.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [8]:
constant_columns = [column for column in data.columns
                    if column not in data.columns[var_thres.get_support()]]

print(len(constant_columns))

2

In [9]:
for feature in constant_columns:
     print(feature)

C
D

In [10]:
data.drop(constant_columns,axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9

In [11]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [13]:
df=pd.read_excel('F:\\program\\dataset\\Santander.xlsx',nrows=10000)

In [14]:
df.head()

       ID  Scored Labels
0  113307              0
1  113310              0
2  113311              0
3  113312              0
4  113317              0

In [16]:
X=df.drop(labels=['Scored Labels'], axis=1)
y=df['Scored Labels']

In [18]:
from sklearn.model_selection import train_test_split
# separate dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(labels=['Scored Labels'], axis=1),
    df['Scored Labels'],
    test_size=0.3,
    random_state=0)

X_train.shape, X_test.shape

((7000, 1), (3000, 1))

In [19]:
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(X_train)

VarianceThreshold(threshold=0)

In [20]:
var_thres.get_support()

array([ True])

In [21]:
sum(var_thres.get_support())

1

In [22]:
len(X_train.columns[var_thres.get_support()])

1

In [23]:
constant_columns = [column for column in X_train.columns
                    if column not in X_train.columns[var_thres.get_support()]]

print(len(constant_columns))

0

In [24]:
for column in constant_columns:
    print(column)

In [25]:
X_train.drop(constant_columns,axis=1)

          ID
7681  128503
9031  131320
3691  120671
202   113706
5625  124478
...      ...
9225  131691
4859  122988
3264  119785
9845  132949
2732  118727

[7000 rows x 1 columns]